@import url('https://fonts.googleapis.com/css?family=Nunito:300i,400,600|Open+Sans');

a, a:visited, a:active {
	color: coral !important;
}
input:focus, textarea:focus {
	border-color: coral !important;
}
.clearfix a {
	color: #FFFFFF !important
}
.visible.transition {
	margin-top: auto !important;
	display: inline-block !important;
	position: relative;
	top: 20%;
	left:10%;
}
.ui.dimmer {
	background-color: rgba(0, 0, 0, 0.5) !important;
}

#banner {
	margin-top: 20px;
}
/* Home page styles */
.blog-home-heading {
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-style: normal;
}
.blog-home-meta {
	font-family: "Nunito", Helvetica, Arial, sans-serif !important;
	line-height: 1.62;
	font-size: 1.20rem;
	-webkit-font-smoothing: antialiased;
	padding-left: 15px;
	font-style: italic;
	color: #999;
}
.blog-home-body {
	font-family: "Nunito", Helvetica, Arial, sans-serif !important;
	line-height: 1.62;
	font-size: 1.20rem;
	-webkit-font-smoothing: antialiased;
}

/* BLOG POST PREVIEW*/
.blog-preview-header {
	padding: 10px 20px;
}
.blog-preview-header header h2 {
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-style: normal;
}
.blog-preview-header article {
	font-family: "'Open Sans'", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
}
.blog-preview-header footer, .post-details {
	opacity: 0.6;
	padding: 5px 10px;
	margin-top: 10px;
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	font-style: italic;
	font-weight: 300;
}

.blog-preview-header footer .author, .blog-header .author {
	border-right: 1px solid grey;
	padding: 0 5px;
	margin-left: 10px;
}
.blog-preview-header footer .date, .blog-header .date {
	padding: 0 10px 0 5px;
	margin-right: 10px;
	border-right: 1px solid grey;
}
.blog-preview-header .comments {
	border-left: 1px solid grey;
	padding: 0 5px;
	margin-left: 10px;
}
.blog-header {
	margin-top: 0px;
    margin-bottom: 20px;
    font-family: Nunino, sans-serif;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
}

/* FOOTER STYLES*/
.home-footer {
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	font-weight: 300;
}
.footer-nav {
	margin: 50px !important;
	padding: 30px;
}

.footer {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 60px;
}

/* Login */
.login {
	margin: 50px 0;
}
.login-form {
	padding: 20px 0;
}
/*BODY*/
.blog-body, .blog-description {
	font-family: "Nunito", Helvetica, Arial, sans-serif !important;
	line-height: 1.62;
	font-size: 1.20rem;
	-webkit-font-smoothing: antialiased;
}
.blog-body p {
	color: #4a4a4a;
}
.title-tag {
	opacity: 1;
	margin-left:15px;
}
.title-tag a {
	margin-left: 5px;
}

.blog-comments {
	margin-top: 70px;
}
.blog-comment-section {
	margin: 20px;
}
.main.menu.fixed {
	background-color: #FFFFFF;
	border: 1px solid #DDD;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.logo-text {
	font-size: 20px;
	font-weight: 300;
	margin-left:10px;
}
.navbar-main {

}
.code {
	border-radius: 3px;
}

/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
	line-height: 1;
	border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
	font-size: 2.25rem;
}

.blog-header-logo:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
	font-size: 2.5rem;
}
@media (min-width: 768px) {
	.display-4 {
		font-size: 3rem;
	}
}

.nav-scroller {
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
}

.nav-scroller .nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: .875rem;
}

.card-img-right {
	height: 100%;
	border-radius: 0 3px 3px 0;
}

.flex-auto {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
	.h-md-250 { height: 250px; }
}

/*
 * Blog name and description
 */
.blog-title {
	margin-bottom: 0;
	font-size: 2rem;
	font-weight: 400;
}
.blog-description {
	font-size: 1.1rem;
	color: #999;
}

@media (min-width: 40em) {
	.blog-title {
		font-size: 3.5rem;
	}
}

/* Pagination */
.blog-pagination {
	margin-bottom: 4rem;
}
.blog-pagination > .btn {
	border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
	margin-bottom: 4rem;
}
.blog-post-title {
	margin-bottom: .25rem;
	font-size: 2.5rem;
}
.blog-post-meta {
	margin-bottom: 1.25rem;
	color: #999;
}

/*
 * Footer
 */
.blog-footer {
	padding: 2.5rem 0;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
	margin-bottom: 0;
}
