<main role="main" class="container">
  <div class="row">
    <div class="col-md-10 blog-main">
      <h2 class="blog-post-title blog-home-heading">Sample blog post</h2>
      <p class=" border-bottom blog-home-meta">January 1, 2014 by <a href="#">Mark</a> <span class="title-tag"> <i class="fas fa-tag fa-rotate-270"> </i><a href="#">Linux</a></span></p>
      <img src="" alt={{ title }}>
      <div class="blog-post">
        <p class="blog-home-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi beatae, cumque error ex impedit incidunt laboriosam laudantium, libero modi, nemo non numquam odio officiis quae repellendus totam ut velit.</p>
        <p class="blog-home-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi beatae, cumque error ex impedit incidunt laboriosam laudantium, libero modi, nemo non numquam odio officiis quae repellendus totam ut velit.</p>
        <p class="blog-home-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi beatae, cumque error ex impedit incidunt laboriosam laudantium, libero modi, nemo non numquam odio officiis quae repellendus totam ut velit.</p>
        <p class="blog-home-body">Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ea maxime mollitia officiis ullam? Assumenda aut distinctio ea necessitatibus nihil numquam quidem vel, voluptate. Consequatur facilis illum provident quasi voluptates.consectetur adipisicing elit. Accusamus animi beatae, cumque error ex impedit incidunt laboriosam laudantium, libero modi, nemo non numquam odio officiis quae repellendus totam ut velit.</p>
        <p class="blog-home-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi beatae, cumque error ex impedit incidunt laboriosam laudantium, libero modi, nemo non numquam odio officiis quae repellendus totam ut velit.</p>
        <p class="blog-home-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi beatae, cumque error ex impedit incidunt laboriosam laudantium, libero modi, nemo non Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore fuga id ipsum iure reprehenderit similique. Adipisci commodi doloribus ducimus ex in itaque iusto magnam nisi, odit quos reprehenderit tenetur voluptatum!numquam odio officiis quae repellendus totam ut velit.</p>
        <p class="blog-home-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi beatae, cumque error ex impedit incidunt laboriosam laudantium, libero modi, nemo non numquam odio officiis quae repellendus totam ut velit.</p>
      </div>
    </div>
  </div>
</main>
